# Ignore libraries
node_modules/

# Ignore environment variables
.env
.env.*
!.env.example

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE config files
.vscode/
.idea/

# Ignore log files
*.log
npm-debug.log*
yarn-error.log*